.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 1rem;

    padding: 2rem;
    background: #323232;
    border-radius: 1rem;
}